.container {
  width: 100%;
}

.container ul {
  list-style-type: none;
}

.container ul li a {
  text-decoration: none;
  color: #333;
}

.container ul li a:hover {
  color: #0070f3;
}

.button {
  height: 60px;
  border-radius: 0;
  color: #D2D2D4;
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

.button:hover {
  background: none;
	color: #049CE4;
}
