.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  color: #049CE4;
}

.loadingIcon {
	width: 30px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
